# CNCD INTERVIEW TASKS

### Task-1

- ***Read the “student.csv” and convert the data into multiple sheet with their class wise sheet name.***

In [2]:
#To avoid the import libs again and again just install Pyforest and Imports.
!pip install pyForest

Requirement already satisfied: pyForest in c:\programdata\anaconda3\lib\site-packages (1.1.0)

In [3]:
#Importing the Pyforest (It's for Lazy Programmers like me:)
import pyforest

In [4]:
#Read the CSV file
df = pd.read_csv('student.csv')

In [5]:
df.head()

        Name       Class
0       Maaz  4_Standard
1   Shahzaib  6_Standard
2  A. Baseer  1_Standard
3  M.Hussain  5_Standard
4    Ghufran  4_Standard

In [6]:
#Check the shape of file
df.shape

(42, 2)

> **So our file contains only 2 Coulmns with 42 Records**

In [7]:
#Checking some missing values as it's really small number so we just check the overall missing values of dataset
df.isnull().sum().sum()

0

- Now let's filter them out wrt Standards but let's check the unique value of Class column that's how many unique values which needs to filtered and save in separate sheets of one excel file.

In [8]:
#Check the unique values number
df.Class.nunique()

9

- So we have 9 unique entries in our 'Class' Feature, Now let's check what they are:

In [9]:
#Check the Unique Value Entries
df.Class.unique()

array(['4_Standard', '6_Standard', '1_Standard', '5_Standard',
       '2_Standard', '7_Standard', '3_Standard', '9_Standard',
       '8_Standard'], dtype=object)

In [10]:
#Let's do some filtering and then save into one Excel file with Different sheets name
df1 = df[(df.Class=="1_Standard")]
df2 = df[(df.Class=="2_Standard")]
df3 = df[(df.Class=="3_Standard")]
df4 = df[(df.Class=="4_Standard")]
df5 = df[(df.Class=="5_Standard")]
df6 = df[(df.Class=="6_Standard")]
df7 = df[(df.Class=="7_Standard")]
df8 = df[(df.Class=="8_Standard")]
df9 = df[(df.Class=="9_Standard")]

In [11]:
#Let's check if it's filtered correctly
df2

         Name       Class
5      Hammad  2_Standard
18  Sanaullah  2_Standard
19    Hussain  2_Standard
22   Shahzaib  2_Standard
26     Hammad  2_Standard
33    Hammad   2_Standard

In [12]:
#Create the Excel File 
with pd.ExcelWriter("F:\\final_sheet.xlsx") as writer:
    df1.to_excel(writer, sheet_name='1_Stand', index=False)
    df2.to_excel(writer, sheet_name='2_Stand', index=False)
    df3.to_excel(writer, sheet_name='3_Stand', index=False)
    df4.to_excel(writer, sheet_name='4_Stand', index=False)
    df5.to_excel(writer, sheet_name='5_Stand', index=False)
    df6.to_excel(writer, sheet_name='6_Stand', index=False)
    df7.to_excel(writer, sheet_name='7_Stand', index=False)
    df8.to_excel(writer, sheet_name='8_Stand', index=False)
    df9.to_excel(writer, sheet_name='9_Stand', index=False)

- In this i have created the Excel file having name 'final_sheet' with 9 different sheets are present in one file wrt Standards.

### Task-2

- Convert the “Log file into CSV”
- Read the “sysmexdata24.log” Given: 
    - Step 1: Convert Log file into CSV. 
    - Step 2: Show Basic Statistics of the Data.
    - Step 3: Create Bar Graph, Clusters to find the outliers of the data. You can create other graphs as well.
    - Step 4: Explain all the steps.